
*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 70%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 1px black;
    margin: auto;    
}

.container .log-out{
    background-color: blue;
    color: #fff;
    text-decoration: none;
    border: 1px white;
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px;
}

/* .log-out-button{
    background-color: #000;
    margin: 10px auto;
} */

.content1{
    padding: 50px;
}

.screen{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    margin: 25px;
    align-items: center;
}

.col label{
    font-size: 16px;
    font-weight: 500;
}
.table{
    border: none;
}

.row input{
    display: grid;
    width:60%;
    height: 25px;
    margin-left: auto;
}

.row select{
    display: grid;
    width:61%;
    height: 30px;
    margin-left: auto;
}


.state{
    display: flex;
}

.state label{
    padding: 2px;
}

.state .two{
    margin: 0 auto;
}

.state input{
    min-width: 180px;
    max-width: 185px;
    height: 25px;
}

.two{
    display: grid;
}

.product{
    width: content;
    background-color: #000;
}

.product span{
    color: #fff;
    font-size: 16px;
}

.btn{
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}

.btn-product{
    background: #000;
    font-size: 16px;
    color: #fff;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
    opacity: 0.9;
}

.add-and-save{
    display: flex;
    justify-content: space-between;
    margin:10px 10px;
}

.add-and-save .add-prod button{
    background-color: #000;
    opacity: 0.8;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;

}

.add-and-save .save-changes button{
    background-color:green;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;

}

#edit{
    background-color: blue;
    border: none;
    padding: 3px 10px;
    border-radius: 10px;
    color: #fff;
}

#delete{
    background-color: red;
    border: none;
    padding: 3px 5px;
    border-radius: 10px;
    color: #fff;
}

.btn-delete{
    background: red;
    color: #fff;
    padding: 3px 15px;
    border: none;
    border-radius: 25px;
}

.btn-sub{
    background: green;
    color: #fff;
    border-radius: 10px;
    padding: 4px 40px;
    font-size: 16px;
}

.checklist{
    width: 90%;
    margin: 0 auto;
}

.checklist tr{
    height: 40px;
}

.checklist td{
    text-align: center;
}


.sub{
    display: flex;
}


.sub button{
    border: none;
    font-size: 14px;
    font-weight: 500;
    background-color: green;
    border-radius: 10px;
    color: #fff;
    padding: 5px 23px;
    margin: 20px auto 0;
}